<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>PharmGuard</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets_client/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets_client/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets_client/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets_client/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets_client/img/favicons/manifest.json">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <meta name="msapplication-TileImage" content="/assets_client/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/assets_client/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" style="background-color:rgb(74, 170, 74);" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand d-inline-flex" href="index.ejs"><img class="d-inline-block" src="/assets_client/img/gallery/loca.svg" alt="" /><span style="position: middle;">PharmGuard</span></a>
          <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          </div>
        </div>
      </nav>
      <section class="py-1 bg-light-gradient border-bottom border-white border-5 mb-5">
        
        <!--/.bg-holder-->

        <div class="container mt-5 pt-5">
          <div class="row flex-center">
            <div class="col-12 mb-5 mt-5">
              <div class="d-flex align-items-center flex-column" style="margin: top 15px;">
                <h1 class="fw-normal"> </h1>
                <h1 class="fs-4 fs-lg-8 fs-md-6 fw-bold" style="margin: top 50%;">Liste des produits</h1>
              </div>
            </div>
          </div>
        </div>
      </section>



      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 pb-4">

        <div class="container-fluid container-lg mt-0">
          <div class="row h-100 g-2 justify-content-center">

            <div class="table-responsive pt-3">
              <table id="example" style="width:100%;" class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      
                    </th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="width: 100%;">
                      <div class="row">
                        <% for(var i=0; i<items[1].length; i++){ %>
                          <div class="col-3">
                            <div class="card bg-light mb-3" style="max-width: 18rem;">
                              <div class="card-header"> <%= items[1][i].pr_name%></div>
                              <div class="card-body">
                                <h5 class="card-title">Disponible: <%= items[1][i].status%></h5>
                                <p class="card-text">Prix-Unitaire: <%= items[1][i].pr_prix_u%></p>
                              </div>
                          </div>
                        </div>
                      <% } %>
                  </div>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end of .container-->
        

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->




    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/vendors_client/@popperjs/popper.min.js"></script>
    <script src="/vendors_client/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors_client/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/vendors_client/feather-icons/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
    <script src="/assets_client_client/js/theme.js"></script>
    
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap5.min.js"></script>
    <script>
      $(document).ready(function () {
      $('#example').DataTable();
      });
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
  </body>

</html>