<nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row" style="background-color: whitesmoke; color: black;">
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler mr-5 navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>    
      <div style="width:5% ;"></div>  
      <h4 class="font-weight-bold mb-0 ml-5 d-none d-md-block mt-1"><%=items[0]%></h4>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item">
          <div>
            <script type="text/javascript"> 
              d = new Date(); 
            document.write("<p>Aujourd'hui, le : <span style='color:black;'>"); 
            document.write(d.toLocaleDateString()+"<span style='color:#00080;'>"); 
            document.write("</span></p>"); 
          </script>
          </div>
        </li>
        <li class="nav-item">
          <h4 class="mb-0 font-weight-bold d-none d-xl-block" style="color:black;">
            <a href="/disconnect" type="button" class="btn btn-danger">
              <i class="fa-solid fa-right-from-bracket" style="color: white;"></i>
            </a>
          </h4>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
    
  </nav>