<nav class="sidebar sidebar-offcanvas" style="background-color: #229c92;" id="sidebar">
    <ul class="nav">
      <li class="nav-item sidebar-category">
        <p>Navigation</p>
        <span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="mdi mdi-view-quilt menu-icon"></i>
          <span class="menu-title">Tableau de bord</span>
        </a>
      </li>
      <li class="nav-item sidebar-category">
        <p>Composants</p>
        <span></span>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/add-pharmacy">
          <i class="mdi mdi-view-headline menu-icon"></i>
          <span class="menu-title">Formulaire d'ajout</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/list-pharmacy-guard">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Pharmacie de garde</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/list-persons">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Personnel</span>
        </a>
      </li>
  
    </ul>
  </nav>